
.noUi-target {
  width: 80%; 
  background: transparent;
  border: none;
  box-shadow: none;
  background: #3f3d38;
  margin:auto;
}
 

.noUi-horizontal .noUi-handle {
  width: 28px;
  height: 28px;
  background: #1fbcd2;
  border-radius: 28px;
  border: none;
  box-shadow: none;
  cursor: pointer;
  outline: none;
}

.noUi-horizontal .noUi-handle:before,
.noUi-horizontal .noUi-handle:after {
  content: '';
  background: transparent;
}

.noUi-base {
  z-index: 1;
}

.noUi-state-tap .noUi-connect,
.noUi-state-tap .noUi-origin {
  -webkit-transition: none !important;
  transition: none !important;
}

.fake-fill {
  position: absolute;
  top: 0;
  height: 100%;
  z-index: 1;
  background: black;
  z-index: 0;
}
